.playlist {
  margin: 24px;
}

.playlist #greeting {
  color: var(--text-base-light);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 48px;
}

.playlist .session {
  color: var(--text-base-light);
  font-size: 24px;
  font-weight: 700;
}