.disclaimer-premium {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right,  rgba(174, 40, 150, 0.7), rgba(80, 155, 245,0.5));
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.disclaimer-premium .text {
 flex-shrink: 0;
}
.disclaimer-premium .disclaimer-premium__title {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}

.disclaimer-premium .disclaimer-premium__subtitle {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.disclaimer-premium button {
  /* background-color: #ffffff; */
  background: linear-gradient(to bottom, rgba(255,255,255, 0.9) 30%, rgba(204, 204, 204, 0.5));
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
  flex-shrink: 0;
}